doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Игра-пятнашки
        <link href="https://allfont.ru/allfont.css?fonts=hang-the-dj" rel="stylesheet" type="text/css" />
        include _styles.pug
    body 
        .wrapper
            .general
                .container
                    .general__inner
                        aside.aside 
                        main.main
                            canvas
                            .playing-field
                            .additional-field
                                .additional-field__playing-results
                                .additional-field__replacing-chips
                                    .additional-field__replacing-chips_text <hr> Обмен местоположением у двух любых фишек <br> (Одноразово)
                                    button.additional-field__replacing-chips_button ОБМЕН
        include _scripts.pug