


/***************RESIZE SCREEN*********/

$desktop: 1279px;
$laptop: 985px;
$tablet: 767px;
$phone: 374px;
$mobile: 319px;
$min: 0px;

/***************COLORS*********/

$color-general: #91c7f3;
$color-red: #C62306;
$color-white: #FFFFFF;
$color-graywhite: #F8F8F8;
$color-gray: #C4C4C4;
$color-grayscale: #696969;
$color-grayblack: #242424;
