

html {
    position: relative;
    background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614641619_1-p-igrovoi-fon-dlya-fotoshopa-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.general__inner {
    // background-color: chocolate;
}
.aside {
    // background-color: cornflowerblue;
}
.main {
    // background-color: crimson;
}
// .size-playing-field {
//     // border: blueviolet 2px solid;
//     margin: 0 auto;
//     display: flex;
//     width: 60%;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     align-items: center;
//     // background-color: aquamarine;
//     font-size: 48px;
//     // text-shadow: 4px 4px 4px #aaa;
//     // padding: 40px 10px;
//     text-shadow: 0px 0px 10px #ffffff, 0px 0px 20px #ffffff, 0px 0px 30px #ffffff, 0px 0px 40px #ff00de, 0px 0px 70px #ff00de, 0px 0px 80px #ff00de, 0px 0px 100px #ff00de, 0px 0px 150px #ff00de;
//     color: #fff;
//     // text-shadow: 0px 1px 1px #000000, 0px -1px 1px #000000, 1px 0px 1px #000000, -1px 0px 1px #000000;
//     // &__name {
//     //     padding: 10px;
//     //     width: 100%;
//     //     display: flex;
//     //     justify-content: center;
//     //     &-text {
//     //         font-size: 30px;
//     //         color: #fff;
//     // text-shadow: 0px 1px 1px #000000, 0px -1px 1px #000000, 1px 0px 1px #000000, -1px 0px 1px #000000;
//     // color: #707070;
//     // text-shadow: 2px 2px 0px #eeeeee, 4px 4px 0px #707070;
//     // // color: #fff;
//     // // text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
//     //     }
//     // }
//     &__el {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 15%;
//         height: 70px;
//         cursor: pointer;
//     }
// }
.playing-field {
    z-index: 1;
    position: relative;
    margin: auto;
    margin-top: 30px;
    border: 5px solid red;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card-container {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 190px;

    // perspective: 1000;
}
/* переверните сторону при проведении мышью */
.card {
    background-color: rgb(0, 255, 64);
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    //запрещаем выделение текста
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}
// .card-container .card.flip {
//     transform: rotateY(180deg);
// }
    
.card-front {
    width: 100%;
    height: 65%;
    text-align: center;
    vertical-align: center;
    font-size: 90pt;
}
.chip00 {
    opacity: 00;
}


.playing-results {
    // background-color: burlywood;
    margin: auto;
    width: 470px;
    &__text {
        text-align: center;
        font-size: 25px;
        // text-shadow: 0px 0px 10px #ffffff, 0px 0px 20px #ffffff, 0px 0px 30px #ffffff, 0px 0px 40px #ff00de, 0px 0px 70px #ff00de, 0px 0px 80px #ff00de, 0px 0px 100px #ff00de, 0px 0px 150px #ff00de;
        text-shadow: 0px 1px 1px #c2c0c0, 0px -1px 1px #c9c7c7, 1px 0px 1px #d1cece, -1px 0px 1px #cfcdcd;
        // text-shadow: 0 2px 0 0px hsl(330, 100%, 25%), 0 3px 2px 0px hsla(330, 100%, 15%, 0.5), 0 3px 0 3px hsl(350, 100%, 50%), 0 5px 0 3px hsl(350, 100%, 25%), 0 6px 2px 3px hsla(350, 100%, 15%, 0.5);
        color: hsl(129, 37%, 17%);

    }
}
.game-over {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    // border: blue 2px solid;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__text {
        // background-color: blueviolet;
        // margin-top: 20px;
        text-align: center;
        font-size: 30px;
        // text-shadow: 0px 0px 10px #ffffff, 0px 0px 20px #ffffff, 0px 0px 30px #ffffff, 0px 0px 40px #ff00de, 0px 0px 70px #ff00de, 0px 0px 80px #ff00de, 0px 0px 100px #ff00de, 0px 0px 150px #ff00de;
        text-shadow: 0px 1px 1px #000000, 0px -1px 1px #000000, 1px 0px 1px #000000, -1px 0px 1px #000000;
        // text-shadow: 0 2px 0 0px hsl(330, 100%, 25%), 0 3px 2px 0px hsla(330, 100%, 15%, 0.5), 0 3px 0 3px hsl(350, 100%, 50%), 0 5px 0 3px hsl(350, 100%, 25%), 0 6px 2px 3px hsla(350, 100%, 15%, 0.5);
        color: hsl(330, 100%, 50%);
    }
    &__button {
        margin-top: 10px;
        width: 200px;
        min-height: 40px;
        font-size: 25px;

        cursor: pointer;
        background-color: #1A1A1A;
        border: chocolate 4px solid;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow:
        1px 1px 0 chocolate,
        // 1px -1px 0 orange,
        -1px 1px 0 chocolate,
        // -1px -1px 0 orange
        ;
        color: white;
        transition: all 1s;
        &:hover {
            text-shadow:
            1px 1px 0 yellowgreen,
            // 1px -1px 0 yellowgreen,
            -1px 1px 0 yellowgreen,
            // -1px -1px 0 yellowgreen
            ;
            border: yellowgreen 4px solid;
        }
    }
}


.hidden {
        opacity: 0;
}

canvas {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
.js-display-none {
    display: none;
}
.miss {
    background-color: crimson;
}
