

html {
    position: relative;
    // background-image: url(https://cdn.pixabay.com/photo/2014/09/21/14/39/surface-455124_960_720.jpg);
    // background-image: url(https://cdn.pixabay.com/photo/2015/12/19/02/12/texture-1099399_960_720.jpg);
    background-image: url(https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.playing-field {
    z-index: 1;
    position: relative;
    margin: auto;
    margin-top: 30px;
    border: 5px solid rgb(255, 187, 0);
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    width: 800px;
    height: 800px;
    background-color: rgb(23, 146, 105);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &_end {
        height: auto;
    }
    &__game-over {
        width: 100%;
        height: auto;
        &_img {
            width: 100%;
            height: auto;
        }
    }
}

.card-container {
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 190px;
}
.card {
    // background-color: rgb(0, 255, 64);
    width: 190px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(104, 102, 23) 5px solid;
    //запрещаем выделение текста
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}


.card-front {
    width: 100%;
    height: 65%;
    text-align: center;
    vertical-align: center;
    font-size: 90pt;
}
.chip00 {
    opacity: 00;
}
.additional-field {
    background-color: rgb(23, 146, 105);
    border: 5px solid rgb(255, 187, 0);
    border-top: 0px;
    width: 800px;
    height: auto;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    &__replacing-chips {
        width: 100%;
        text-align: center;
        font-size: 50px;
        // text-shadow: 3px 3px 3px #ffffff, 0px 0px 20px #ffffff, 0px 0px 30px #ffffff, 0px 0px 40px #0f7a56, 0px 0px 70px #0f7a56, 0px 0px 80px #0f7a56, 0px 0px 100px #0f7a56, 0px 0px 150px #0f7a56;
        // text-shadow: 3px 3px 3px #c2c0c0, 3px 3px 3px #c9c7c7, 3px 3px 3px #d1cece, 3px 3px 3px #cfcdcd;
        // text-shadow: 0 2px 0 0px hsl(330, 100%, 25%), 0 3px 2px 0px hsla(330, 100%, 15%, 0.5), 0 3px 0 3px hsl(350, 100%, 50%), 0 5px 0 3px hsl(350, 100%, 25%), 0 6px 2px 3px hsla(350, 100%, 15%, 0.5);
        color: hsl(0, 0%, 0%);
        &_text {
            padding: 10px;
        }
        &_button {
            padding: 10px 20px 10px 20px ;
            background-color: cyan;
            border-radius: 15px;
            font-weight:700;
            text-align:center;
            text-decoration: none;
            background: #eaeef1;
            display:block;
            margin: 20px auto;
            background-image: linear-gradient(rgba(14, 11, 197, 0.671), rgba(0,0,0,.1));
            color: rgba(0,0,0,.6);
            text-shadow: 0 1px 1px rgba(255,255,255,.7);
            box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
            &:hover {
                background-image: linear-gradient(rgba(18, 14, 255, 0.815), rgba(0,0,0,.1));

            }
            &:active {
                background: #d0d3d6;
                background-image: linear-gradient(rgba(14, 11, 197, 0.829), rgba(0,0,0,0));
                box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
            }
        }
        &_unnecessary {
            display: none;
        }

    }
    &__playing-results {
        // align-self: start;
        // background-color: burlywood;
        width: 100%;
        &_text {
            text-align: center;
            font-size: 50px;
            // text-shadow: 3px 3px 3px #ffffff, 0px 0px 20px #ffffff, 0px 0px 30px #ffffff, 0px 0px 40px #0f7a56, 0px 0px 70px #0f7a56, 0px 0px 80px #0f7a56, 0px 0px 100px #0f7a56, 0px 0px 150px #0f7a56;

            // text-shadow: 0px 0px 10px #ffffff, 0px 0px 20px #ffffff, 0px 0px 30px #ffffff, 0px 0px 40px #ff00de, 0px 0px 70px #ff00de, 0px 0px 80px #ff00de, 0px 0px 100px #ff00de, 0px 0px 150px #ff00de;
            // text-shadow: 0px 1px 1px #c2c0c0, 0px -1px 1px #c9c7c7, 1px 0px 1px #d1cece, -1px 0px 1px #cfcdcd;
            // text-shadow: 0 2px 0 0px hsl(330, 100%, 25%), 0 3px 2px 0px hsla(330, 100%, 15%, 0.5), 0 3px 0 3px hsl(350, 100%, 50%), 0 5px 0 3px hsl(350, 100%, 25%), 0 6px 2px 3px hsla(350, 100%, 15%, 0.5);
            color: hsl(0, 0%, 0%);
    
        }
    }


}
.game-over {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    // border: blue 2px solid;
    border-radius: 5px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__text {
        // background-color: blueviolet;
        // margin-top: 20px;
        text-align: center;
        font-size: 30px;
        // text-shadow: 0px 0px 10px #ffffff, 0px 0px 20px #ffffff, 0px 0px 30px #ffffff, 0px 0px 40px #ff00de, 0px 0px 70px #ff00de, 0px 0px 80px #ff00de, 0px 0px 100px #ff00de, 0px 0px 150px #ff00de;
        text-shadow: 0px 1px 1px #000000, 0px -1px 1px #000000, 1px 0px 1px #000000, -1px 0px 1px #000000;
        // text-shadow: 0 2px 0 0px hsl(330, 100%, 25%), 0 3px 2px 0px hsla(330, 100%, 15%, 0.5), 0 3px 0 3px hsl(350, 100%, 50%), 0 5px 0 3px hsl(350, 100%, 25%), 0 6px 2px 3px hsla(350, 100%, 15%, 0.5);
        color: hsl(330, 100%, 50%);
    }
    &__button {
        margin-top: 10px;
        width: 200px;
        min-height: 40px;
        font-size: 25px;

        cursor: pointer;
        background-color: #1A1A1A;
        border: chocolate 4px solid;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow:
        1px 1px 0 chocolate,
        // 1px -1px 0 orange,
        -1px 1px 0 chocolate,
        // -1px -1px 0 orange
        ;
        color: white;
        transition: all 1s;
        &:hover {
            text-shadow:
            1px 1px 0 yellowgreen,
            // 1px -1px 0 yellowgreen,
            -1px 1px 0 yellowgreen,
            // -1px -1px 0 yellowgreen
            ;
            border: yellowgreen 4px solid;
        }
    }
}
.exchange {
    border: cadetblue solid 6px;
}

.hidden {
        opacity: 0;
}

canvas {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
.js-display-none {
    display: none;
}
.miss {
    border: crimson 10px solid;
}
.playing-field {
    & .chip01 {
    background-image: url('../assets/images/01.jpg')
    }
    & .chip02 {
        background-image: url('../assets/images/02.jpg')
    }
    & .chip03 {
        background-image: url('../assets/images/03.jpg')
    }
    & .chip04 {
        background-image: url('../assets/images/04.jpg')
    }
    & .chip05 {
        background-image: url('../assets/images/05.jpg')
    }
    & .chip06 {
        background-image: url('../assets/images/06.jpg')
    }
    & .chip07 {
        background-image: url('../assets/images/07.jpg')
    }
    & .chip08 {
        background-image: url('../assets/images/08.jpg')
    }
    & .chip09 {
        background-image: url('../assets/images/09.jpg')
    }
    & .chip10 {
        background-image: url('../assets/images/10.jpg')
    }
    & .chip11 {
        background-image: url('../assets/images/11.jpg')
    }
    & .chip12 {
        background-image: url('../assets/images/12.jpg')
    }
    & .chip13 {
        background-image: url('../assets/images/13.jpg')
    }
    & .chip14 {
        background-image: url('../assets/images/14.jpg')
    }
    & .chip15 {
        background-image: url('../assets/images/15.jpg')
    }
}
